<template>
  <div class="flex flex-col m-20 shadow-lg border-gray-30 border-opacity-50  bg-teal-100">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-6">
          <h1 class="text-xl font-bold">Edit Product</h1>
        </div>
        <div class="p-4">
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="country">
            Country
            <span class="required">*</span>
          </label>
          <select name="country"  required="required">
            <option disabled selected value>Pick one</option>
            <option>China</option>
            <option>India</option>
            <option>Republic of Chile</option>
            <option>United States of America</option>
          </select>
        </div>
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="machines">
            Machines
            <span class="required">*</span>
          </label>
          <select name="machines" multiple="multiple" required="required">
            <option>iBot Demo Machine</option>
            <option>iBot Machine</option>
            <option>Machine 1</option>
            <option>Machine 2</option>
            <option>Machine 3</option>
          </select>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="product_name">
            Product Name
            <span class="required">*</span>
          </label>
          <input
            class="shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            id="product_name"
            type="text"
          />
        </div>
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="sku-id">
            SKU ID
            <span class="required">*</span>
          </label>
          <input
            class="shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            id="sku-id"
            type="text"
          />
        </div>
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="max-stock">Max Stock</label>
          <input
            class="shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            id="max-stock"
            type="text"
          />
        </div>
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="weight">Weight</label>
          <input
            class="shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            id="weight"
            type="text"
          />
        </div>
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="price">Price</label>
          <input
            class="shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            id="price"
            type="text"
          />
        </div>
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="description">Description</label>
          <textarea
            name="description"
            id
            rows="2"
            cols="10"
            class="shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
          ></textarea>
          <!-- <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder=""> -->
        </div>
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="image">Image</label>
          <input
            class="shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            id="image"
            type="file"
          />
        </div>
        <div>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            @click.stop.prevent="navigate()"
          >Submit</button>
        </div>
        </div>
      </form>
    </div>
</template>
<script>
export default {
  name: "editProduct",
  methods: {
    navigate() {
      this.$router.push("/");
    },
  },
};
</script>
