<template>
  <div>
      <!-- <product-details></product-details> -->
        <div class="flex flex-col m-20 shadow-lg border-gray-30 border-opacity-50 p-10">
    <!-- <div class="">
      <h3>Products</h3>
    </div>-->
    <div class="flex justify-between">
      <h3 class="text-xl font-extrabold">Products</h3>
      <router-link to="/add">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded">Add</button>
      </router-link>
    </div>
    <div class="row">
      <div class="p-4">
        <label for="show" class="mr-2">Show</label>
        <select id="show" class="border-blue-40">
          <option value>50</option>
          <option value>100</option>
          <option value>150</option>
        </select>
        entries
      </div>
      <div class="flex justify-end p-1">
        <label for>Search:</label>
        <input
          type="search"
          class="shadow appearance-none px-3 text-grey-darker focus:border-blue-40"
        />
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th class="border px-4 py-2">Sr.no</th>
          <th class="border px-4 py-2">Country</th>
          <th class="border px-4 py-2">Machine</th>
          <th class="border px-6 py-2">Product Name</th>
          <th class="border px-6 py-2">SKU code</th>
          <th class="border px-4 py-2">Weight</th>
          <th class="border px-4 py-2">Price</th>
          <th class="border px-4 py-2">Image</th>
          <th class="border px-6 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">1</td>
          <td class="border px-4 py-2">India</td>
          <td class="border px-4 py-2">Machine 3, iBot Machine</td>
          <td class="border px-4 py-2">DK Vanilla fudge</td>
          <td class="border px-4 py-2">20</td>
          <td class="border px-4 py-2">200 gm carton</td>
          <td class="border px-4 py-2">220</td>
          <td class="border px-4 py-2">Image</td>
          <td class="border px-4 py-2">
            <router-link
              to="/edit"
              tag="button"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 mr-2 rounded"
            >
              <i class="fa fa-pencil-square" aria-hidden="true"></i>
            </router-link>
            <router-link
              to
              tag="button"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </router-link>
          </td>
        </tr>
        <tr>
          <td class="border px-4 py-2">2</td>
          <td class="border px-4 py-2">India</td>
          <td class="border px-4 py-2">iBot Machine</td>
          <td class="border px-4 py-2">HD Salted Caramel Bar</td>
          <td class="border px-4 py-2">11</td>
          <td class="border px-4 py-2">400 gm tin</td>
          <td class="border px-4 py-2">113</td>
          <td class="border px-4 py-2">image</td>
          <td class="border px-4 py-2">
            <router-link
              to="/edit"
              tag="button"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 mr-2 rounded"
            >
              <i class="fa fa-pencil-square" aria-hidden="true"></i>
            </router-link>
            <router-link
              to
              tag="button"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </router-link>
          </td>
        </tr>
        </tbody>
    </table>
    <div
      class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
    >
      <div class="flex-1 flex justify-between sm:hidden">
        <a
          href="#"
          class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
        >Previous</a>
        <a
          href="#"
          class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
        >Next</a>
      </div>
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
          <p class="text-sm leading-5 text-gray-700">
            Showing
            <span class="font-medium">1</span>
            to
            <span class="font-medium">2</span>
            of
            <span class="font-medium">2</span>
            entries (filtered from total 12 entries)
          </p>
        </div>
        <div>
          <nav class="relative z-0 inline-flex shadow-sm">
            <a
              href="#"
              class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
            >Previous</a>
            <a
              href="#"
              class="-ml-px relative inline-flex items-center bg-blue-500 px-4 py-2 border border-gray-300 text-white text-sm leading-5 font-medium text-white-700  focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
            >1</a>
            <a
              href="#"
              class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
            >Next</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  name : 'Home',
  data() {
    return {
      formData: {
        country: "",
        machines: [],
        product_name: "",
        sku_id: "",
        max_stock: "",
        weight: "",
        price: "",
        description: "",
        image: "",
      },
      products : []
    
    };
  }
 
}
</script>